/****************************************************
 * Mixins related to hover, focus, active etc....
 */



@mixin generate-breakpoints($default: xs) {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      @if($breakpoint == $default ) {
        & {
          @content;
        }
      } @else {
        &-#{$breakpoint} {
          @content;
        }
      }
    }
  }
}



@mixin link-style() {
  a, a:link, a:active, a:visited  {
    @content;
  }
}

@mixin hocus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin circle() {
  border-radius: 50%;
}

@mixin rounded-corners( $size: $rounded-corners-default ) {
  border-radius: $size;
}

@mixin rounded-corners-top( $size: $rounded-corners-default ) {
  border-top-left-radius: $size;
  border-top-right-radius: $size;
}

@mixin rounded-corners-bottom( $size: $rounded-corners-default ) {
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size;
}


@mixin box-curve-bottom( $curve-size: $box-curve-size ) {
  border-bottom-left-radius: 100%$curve-size;
  border-bottom-right-radius: 100%$curve-size;
}

@mixin box-curve-top( $curve-size: $box-curve-size ) {
  border-top-left-radius: 100%$curve-size;
  border-top-right-radius: 100%$curve-size;
}

@mixin border-radius( $size: 5px ) {
  border-radius: $size;
}

@mixin border-radius-left( $size: 5px ) {
  border-top-left-radius: $size;
  border-bottom-left-radius: $size;
}

@mixin border-radius-right( $size: 5px ) {
  border-top-right-radius: $size;
  border-bottom-right-radius: $size;
}



@mixin border-bottom( $size: $border-size-default, $color: $border-color-default ) {
  border-bottom: $size solid $color;
}

@mixin border-left( $size: $border-size-default, $color: $border-color-default ) {
  border-left: $size solid $color;
}

@mixin border-top( $size: $border-size-default, $color: $border-color-default ) {
  border-top: $size solid $color;
}

@mixin border-right($size: $border-size-default, $color: $border-color-default ) {
  border-right: $size solid $color;
}

@mixin border($size: $border-size-default, $color: $border-color-default ) {
  border: $size solid $color;
}


@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin input-no-spinner {
  &::-webkit-outer-spin-button,  /* Chrome, Safari, Edge, Opera */
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {  /* Firefox */
    -moz-appearance: textfield;
  }
}

@mixin add-shadow() {
  box-shadow: 0 0px 10px 0px $color-shade-dark;
}

@mixin remove-shadow() {
  box-shadow: none;
}

//Usage:
//$start-color, $end-color, $orientation - vertical/horizontal/radial
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity = $opacity-ie); //IE8
}


@mixin font-source-body($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: $font-family-body;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}


@mixin retina($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background-image: url($image);
    background-size: $width $height;
  }
}


@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin icomoon( $content ) {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "#{$content}";
}


@mixin z-layer-floor( $z: 0 ) {
  z-index: (0 + $z);
}

@mixin z-layer-content( $z: 0 ) {
  z-index: (100 + $z);
}

@mixin z-layer-design( $z: 0 ) {
  z-index: (1000 + $z );
}

@mixin z-layer-top( $z ) {
  z-index: (10000 + $z );
}