/********************************************************************
 * COLORS
 */

// Primary color
$color-primary-base: rgb(234,116,33);
$color-primary-dark: rgb(228,74,36);
$color-primary-darker: rgb(187,63,31);

// Secondary color
$color-secondary-base: rgb(26,159,221);
$color-secondary-light: rgb(60,178,228);
$color-secondary-lighter: rgb(106,197,234);

// Shades
$color-shade-blanc: rgb(255,255,255);
$color-shade-lightest: rgb(249,249,249);
$color-shade-lighter: rgb(243,243,243);
$color-shade-light: rgb(230,230,230);
$color-shade-dark: rgb(87,87,87);
$color-shade-darker: darken($color-shade-dark, 20%);
$color-shade-darkest: #000;

// Elements
$color-bg-base: rgb(255,255,255);
$color-link-base: rgb(234,116,33);
$color-text-base: rgb(87,87,87);
$color-border-base: rgb(226,226,226);
$color-bg-highlight: $color-shade-lighter;
$color-highlight: $color-primary-base;
$color-bg-diapositive-default: $color-secondary-base;
$color-bg-diapositive-highlight: $color-primary-base;

$border-color-default: $color-border-base;
$border-color-darker: darken($color-border-base, 10% );
$border-size-default: 1px;

$box-curve-size: 15px;
$box-shadow-spread: 60px;
$rounded-corners-default: 5px;


/********************************************************************
 * BASE ELEMENT, FONT & TEXT DEFINITIONS
 */

// Semantically relevant redefinitions of colors
$body-bg-color: $color-bg-base;
$body-text-subheader: $color-primary-base;
$body-text-color: $color-shade-dark;

$footer-bg-color: $color-shade-dark;
$footer-text-header: $color-shade-blanc;
$footer-text-color: rgb(188,188,188);

$font-color-base: $body-text-color;
$font-color-light: lighten($body-text-color, 25%);
$font-color-lighter: lighten($body-text-color, 45%);
$font-color-diapositive: $color-shade-blanc;

 // Link styles -> overrides bootstrap vars as well...
$link-color: $color-link-base;
$link-decoration: 'none';
$link-hover-color: $color-primary-dark;
$link-hover-decoration: 'underline';

$btn-primary-color: $color-primary-base;
$btn-primary-hover-color: $color-primary-dark;

$btn-secondary-color: $color-secondary-base;
$btn-secondary-hover-color: $color-secondary-light;

$fonts-path:                  '../fonts/';

$font-family-sans-serif:      'Poppins', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// stylelint-enable value-keyword-case
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

$h1-font-size:                $font-size-base * 2.2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.4;
$h4-font-size:                $font-size-base * 1.1;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base;

//$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

$lead-font-size:              $font-size-base * 1.15 !default;
$lead-font-weight:            300 !default;

$padding-x-base:              15px;
$padding-x-small:             ($padding-x-base / 2);
$padding-x-big:               ($padding-x-base * 2);

$padding-y-base:              15px;
$padding-y-small:             ($padding-y-base / 2);
$padding-y-big:               ($padding-y-base * 2);

$padding-main-top:         ($padding-y-small * 3);
$padding-main-base:         ($padding-y-base * 3);
$padding-main-big:            ($padding-y-big * 3);

/********************************************************************
 * BOOTSTRAP OVERRIDES
 */

$blue:    $color-secondary-base;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  $color-primary-base;
$yellow:  #ffc107 !default;
$green:   rgb(160,176,70);
$teal:    rgb(160,176,70);
$cyan:    $color-secondary-lighter; //#17a2b8 !default;

// Bootstrap overrides
$font-size-base:  1rem;
$body-bg: $body-bg-color;
$body-color: $body-text-color;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 786px,
  lg: 1130px,
  xl: 1200px
);

$primary:       $blue !default;
$secondary:     $color-shade-dark !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;

/********************************************************************
 * WEBSITE ELEMENTS
 */

$rflex-header-height: 85px;
$rflex-header-lg-height: 155px;