.rflex-main {
    // padding-bottom: $padding-main-top;

     &.rflex-main-push {
         @extend .rflex-push-down;
     }

     .rflex-content-body {
         h2, .h2 {
             margin-top: ($padding-y-big * 2);
         }
     }

     .rflex-content-footer {
         //padding-bottom: ($padding-y-big * 2);
         margin-top: ($padding-y-big * 2);

         &.rflex-post-footer {
             @include border-top();
             text-align: center;
         }
     }
 }

.rflex-editor-content {
    h4,.h4 {
        text-transform: uppercase;
    }

    img {
        @extend .rflex-rounded;
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}


.rflex-label {
    @extend .rflex-rounded;
    background: $color-shade-lighter;
    padding: $padding-y-small $padding-x-base;
    font-weight: bold;

    &.rflex-icon-prepend:before, &.rflex-icon-append:after {
        color: $color-primary-base;
    }
}


 .rflex-section {

    padding-top: $padding-y-big * 3;
    padding-bottom: $padding-y-big * 3;

    .rflex-section-head {
        margin-bottom: $padding-y-big;
    }

    &.rflex-section-diapositive {
        position: relative;
        //z-index: -1;
        color: $font-color-diapositive;

        &:after {
            content: '';
            z-index: -2;
            top: 0; right: 0; left: 0; bottom: 0;
            position: absolute;
            background: $color-bg-diapositive-default;
        }

        .rflex-section-head {
            &, .rflex-title-super {
                color: $font-color-diapositive;
            }
        }
    }


    &:first-child {
        padding-top: $padding-y-big;

        @include media-breakpoint-up(md) {
            padding-top: ($padding-y-big * 2);
        }
    }

    &:not(.rflex-section-content) {
        .h3 {
            font-size: $h2-font-size;
        }
    }

    &.rflex-section-shaded {
        background-color: $color-shade-lighter;

        & + .rflex-section-shaded {
            background-color: $color-shade-lightest;
        }
    }

    &.rflex-section-odd-even {
        padding-top: $padding-y-big;
        padding-bottom: $padding-y-big;

        &:nth-child(even) {
            background: $color-shade-lighter;
        }
        &:nth-child(odd) {
            background: $color-shade-lightest;
        }
    }

    &.rflex-section-narrow {
        padding-top: $padding-y-base;
        padding-bottom: $padding-y-base;
    }

    &:last-child  {
        padding-bottom: $padding-y-big * 3;
    }

   .rflex-container {
       @extend .rflex-box-shadow;
   }

   .rflex-col-content-group {
        margin-bottom: $padding-y-big;
    }
}

.rflex-section-content {
    // White sections after the content get pulled up
    & + .rflex-section:not(.rflex-section-shaded) {
        margin-top: -($padding-y-big * 2);
        padding-top: 0;
    }

}

.rflex-hero + .rflex-polygon + .rflex-section-shaded {
    margin-top: -($padding-y-big * 2);
    padding-top: $padding-y-big * 5;
}

.rflex-hero + .rflex-polygon + .rflex-section-odd-even {
    padding-top: $padding-y-big * 3;
}


.rflex-tile {
    @extend .rflex-box-shadow-small;
}

.rflex-container, .rflex-tile {
     $rflex-tile-padding-y: $padding-y-base;
     $rflex-tile-padding-x: $padding-x-base;


    @extend .rflex-rounded;
    width: 100%;
    background: $body-bg-color;
    position: relative;
    margin-bottom: $padding-y-big;

    .rflex-inner {
        padding: $rflex-tile-padding-y $rflex-tile-padding-x;
    }

    .rflex-tile-head-img {
        @extend .rflex-rounded-top;
        clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 81%, 29% 100%, 0 81%, 0 0);
    }


    .rflex-tile-bottom-link {
        padding: $rflex-tile-padding-y $rflex-tile-padding-x (2 * $rflex-tile-padding-y ) $rflex-tile-padding-x ;
        position: absolute;
        bottom: 0;

        & ~ .rflex-inner {
            margin-bottom: (4 * $rflex-tile-padding-y);
        }

        a {
            @extend .rflex-link-highlight;
        }
    }

    &.rflex-tile-lite {
        .rflex-icon {
            font-size: 2.5em;
            color: $color-primary-base;
        }
    }

    &.rflex-tile-selling {
        text-align: center;
        padding-top: $rflex-tile-padding-y;
        padding-bottom: ($rflex-tile-padding-y * 4);
        color: $body-text-color;

        .rflex-inner {
            text-transform: uppercase;
        }

        .rflex-icon {
            font-size: 2.7em;
            color: $color-bg-diapositive-default;
        }

        .rflex-tile-bottom {
            @extend .rflex-rounded-bottom;
            padding: $rflex-tile-padding-y 0;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background: $color-shade-lighter;
            color: $body-text-color;
            text-decoration: none;
        }
    }

    &.rflex-tile-contact {
        .h4 {
            text-transform: uppercase;
        }
    }
}



.rflex-tile-contact-icon {
    font-size: 2em;
    color: $color-primary-base;
}

.rflex-tile-icon {
    text-align: center;

    $breakpoints: (xs: 2, md: 3, lg: 4 );

    @each $breakpoint, $width in $breakpoints {
        @include media-breakpoint-up($breakpoint) {
            &:nth-child(1n) {
                @include border-right();
                @include border-top();
            }

            &:nth-child(-n + #{$width}) {
                border-top: 0;
            }

            &:nth-child(#{$width}n) {
                border-right: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }


    a {
        @extend .rflex-link-neutral;
        display: block;
        width: 100%;
        position: relative;
        padding: $padding-y-big 0 ($padding-y-big * 2) 0;

        i.rflex-icon {
            font-size: 3em;
            color: $color-primary-base;
            display: block;
        }

        .rflex-tile-icon-label {
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            font-weight: bold;
        }
    }
}


.rflex-tile-image {
    margin-bottom: $padding-y-base;

    .rflex-tile-image-image {
        @extend .rflex-rounded;
        display: block;
        max-width: 100%;
    }

    a {
        @extend .rflex-link-neutral;

        .rflex-tile-image-label {
            display: block;
            padding: $padding-y-base 0;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.rflex-posts-list {
    font-size: $h4-font-size;
    font-weight: bold;

    .rflex-post-list-title {
        vertical-align: middle;
    }

    li {
        margin-bottom: $padding-y-big;

        a {
            @extend .rflex-link-neutral;
        }

        img {
            @extend .rflex-rounded;
            max-width: 100%;
        }
    }
}

.rflex-tile-shaded {
    @extend .rflex-rounded;

    background: $color-shade-lighter;
    padding: $padding-y-big $padding-x-big;

}

.rflex-side-container {
    margin-bottom: $box-shadow-spread;

    a {
        color: $body-text-color;
        text-decoration: none;
        &:hover {
            color: $link-color;
        }
    }

    .rflex-container-image {
        text-align: center;
    }

}

.rflex-helpful {
    margin-top: $padding-y-big;
    padding-bottom: $padding-main-big;
    a {
        @extend .rflex-link-highlight, .rflex-border;
        @include rounded-corners( 50% );
        display: block;
        width: 50px;
        height: 50px;
        color: $font-color-light;
        padding-top: 17%;
        font-size: 1.5em;
    }
}

.rflex-terms-list {
    font-size: 0.85em;
    padding-bottom: $padding-y-base;

    .rflex-terms-list-item-download-types {
      @extend .rflex-label;
    }

}

.rflex-nav-numeric-posts {
    @extend .rflex-list-inline;

    margin-top: $padding-y-big;

    .numeric-nav-item {
        margin-left: $padding-x-small;
        margin-right: $padding-x-small;
    }

    .numeric-nav-item-number {
        display: none;

        a {
         @extend .rflex-link-neutral;
        }

        @include media-breakpoint-up(md) {
            display: inline-block;
        }
    }

    .numeric-nav-item-prev,
    .numeric-nav-item-next {
        a {
            @extend .btn, .btn-prim, .btn-cta;

            .numeric-nav-item-label {
                @extend .btn-label;
            }
        }
    }
}