$footer-bg-color-base: $color-shade-dark;
$footer-bg-color-secondary: $color-primary-base;
$footer-text-color: $color-shade-blanc;
$footer-link-color: lighten($color-shade-dark, 40%);
$footer-border-color: $footer-link-color;
$footer-border-size: $border-size-default;

.rflex-footer {
    position: relative;
    color: $footer-text-color;
    font-size: 0.85em;
    background: $footer-bg-color-base;
    z-index: 0;


    .rflex-footer-pre {
        @extend .rflex-curve-bottom;

        background: $footer-bg-color-secondary;
        padding-top: $padding-y-big;
        padding-bottom: $padding-y-big;


        .rflex-footer-pre-links {
            background: url('../img/world.png') no-repeat top center;
            background-size: contain;
            margin: $padding-y-big 0 0 0;
            padding-bottom: $padding-y-big;

            .h2,.h3 {
                margin-bottom: $padding-y-big;
            }

            @include media-breakpoint-up(md) {
                .h2,.h3 {
                    position: relative;
                    margin: 0 auto;
                    max-width: 75%;
                }
            }

            @include media-breakpoint-up(lg) {
                padding: $padding-y-big 0 ($padding-y-big * 4) 0;

                .h2,.h3 {
                    max-width: 60%;
                }
            }

            .rflex-footer-pre-link-list {
                @extend .rflex-list-inline;
                margin-top: $padding-y-big;

                li {
                    display: block;
                    width: 100%;
                    padding: $padding-y-big $padding-x-base ($padding-y-big) $padding-x-base;

                    @include media-breakpoint-up(md) {
                        width: auto;
                        display: inline-block;
                        padding: auto;
                    }
                }

            }

        }
    }

    .rflex-footer-bottom {
        padding-top: $padding-y-base;
        padding-bottom: $padding-y-big;

        .hr {
            @include border-top($footer-border-size, $footer-border-color);
        }
    }

    @include link-style() {
        color: $footer-link-color;
    }

    .rflex-social-list {
        font-size: 1.4em;
    }

    .rflex-footer-body {

        .rflex-footer-logo {
            padding-top: $padding-y-big;
            padding-bottom: $padding-y-big;

            .rflex-logo {
                max-width: 200px;
            }
        }

        .rflex-nav-extend {
            padding: 0 $padding-x-base 0 $padding-x-base;

            li {
                padding: 0;

                &:first-child {
                    @include border-top($footer-border-size, $footer-border-color);
                }
                @include border-bottom($footer-border-size, $footer-border-color);
            }

            a {
                padding-left: 0;
                padding-right: 0;
            }

            .rflex-submenu-title {
                color: $footer-text-color;
                font-size: 1.25em;

                :after {
                    width: 5%;
                }
            }

            .sub-menu {

                a {
                    padding-top: 0;
                    padding-bottom: $padding-y-base;
                }

                li {
                    border: 0;
                }
            }

            // Switch this to a normal menu from a breakpoint up
            @include media-breakpoint-up(sm) {
                li {
                    &, &:first-child {
                        border: 0;
                    }
                }

                .rflex-submenu-title {
                    cursor: unset;

                    &:after {
                        content: unset;
                    }
                }

                .sub-menu {
                    display: inline-block;
                }
            }
        }
    }
}

