$rflex-header-color: $color-bg-base;
$rflex-header-menubar-color: $color-shade-dark;
$rflex-desktop-menu-color: $color-shade-blanc;
$rflex-underline-border-size: 5px;

.rflex-header {
    position: relative;
    height: $rflex-header-height;
    background: $rflex-header-color;
    @include z-layer-design(5);
    @include add-shadow();

    .rflex-brand-bar {
        height: $rflex-header-height;
        background: $rflex-header-color;
        padding: $padding-y-small 0;
        @include border-bottom();

        .rflex-logo-container {
            max-width: 150px;
        }

        .rflex-nav-icons {
            li {
                margin-left: $padding-x-small;
                margin-top: $padding-y-small + ($padding-y-small / 2);
            }
        }
    }

    @include media-breakpoint-down(md) {
        &.is-sticky {
            position: fixed;
            top: 0;
            width: 100%;

            & ~ main {
                padding-top: $rflex-header-height + $padding-main-top;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        position: relative;
        height: $rflex-header-lg-height;



        .rflex-brand-bar {
            height: auto;
            padding: $padding-y-base 0;
            border: 0;
        }



    }



}


.rflex-menu-bar {
    display: none;
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    background: $color-shade-dark;


    @include media-breakpoint-up(lg) {
        &.is-sticky {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            @include z-layer-design(100);
            -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }


    .rflex-list-inline {
        width: 100%;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }



    .rflex-door-cta {
        float: right;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;

        a {
            &, &:link, &:focus, &:active {
                height: 100%;
                display: block;
                background: $color-primary-base;
                color: $rflex-desktop-menu-color;
                padding-right: $padding-y-base;
                padding-left: $padding-y-base;
                text-decoration: none;
                border-color: $color-primary-base;
                font-weight: bold;
            }

            &:hover {
                background: $color-primary-dark;
                border-color: $color-primary-dark !important;
            }
        }

    }

    .rflex-nav-desktop {

        > ul {
            white-space: nowrap;
        }
        > ul > li  {
            position: relative;
            margin-right: $padding-x-big;

            &:hover {
                .sub-menu {
                    display: block;
                }
            }

            > a {
                display: inline-block;
                padding: $padding-y-base 0 ($padding-y-base - $rflex-underline-border-size) 0;
                height: 100%;
                color: $rflex-desktop-menu-color;
                text-decoration: none;
                cursor: pointer;
                display: block;

                @include border-bottom($rflex-underline-border-size, $rflex-header-menubar-color);

                &:hover {
                    @include border-bottom($rflex-underline-border-size, lighten($rflex-header-menubar-color, 15%) );
                }
            }

            &.current-menu-item > a, &.current-menu-item-parent {
                &, &:hover, &:active {
                    @include border-bottom($rflex-underline-border-size, $color-primary-base );
                }
            }
        }

        .rflex-submenu-title,  .menu-item-has-children > a {
            padding-right: $padding-x-big;

            &:after {
                font-family: 'icomoon' !important;
                speak: never;
                content: "\e90e";
                padding-top: 15px;
                text-align: center;
                position: absolute;
                right: 0;
                top: 0;
                display: block;
                height: 100%;
                width: 15%;
                max-width: 60px;
            }
        }



        .sub-menu {
            display: none;
            @include z-layer-design(4);
            @include add-shadow();
            position: absolute;
            min-width: 250px;
            max-width: 300px;
            margin: 0;
            padding: 0;
            background: $rflex-header-color;


            a {
                color: $body-text-color;
                text-decoration: none;
                display: block;
                width: 100%;
                border: 0;
                padding: $padding-y-base $padding-x-small;
                @include border-bottom();

                &:hover {
                    background: $color-bg-highlight;
                }
            }

            li {
                display: block;

                &.current-menu-item a {
                    color: $color-primary-base;
                }
            }
        }
    }
} // close .rflex-menu-bar
