.rflex-nav-icons {
    .rflex-icon, .rflex-icon-label {
        display: block;
        text-align: center;
    }

    .rflex-toggle-search {
        &.is-toggled .rflex-icon-search {
            @extend .rflex-icon-close;
        }
    }

    .rflex-icon {
        font-size: 1.2em;
    }

    .rflex-icon-label {
        font-size: 0.7em;
        text-transform: uppercase;
    }

    a  {
       @extend .rflex-menu-link-default;
    }
}


.is-toggled {
    .rflex-icon-menu {
        @extend .rflex-icon-close;
    }
}

.rflex-nav-extend {
    font-size: 1.1em;
    font-weight: bold;

    &, ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        @extend .rflex-menu-link-default;

        display: block;
        position: relative;
        padding: $padding-y-base $padding-x-base;
    }

    .rflex-submenu-title  {
        @extend .rflex-link-pointer;

        &:after {
            font-family: 'icomoon' !important;
            speak: never;
            content: "\e90e";
            padding-top: 15px;
            text-align: center;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 15%;
            max-width: 60px;
        }
    }

    .sub-menu {
        display: none;

        a {
            font-weight: normal;
            font-size: 1em;
            border: 0;
        }
    }

    li.is-toggled {
        .rflex-submenu-title:after {
            transform: rotate(-180deg);
        }

        .sub-menu {
            display: block;
        }
    }
}


.rflex-mob-nav-container {
    /**
     * Positioning
     */
    position: fixed;
    top: $rflex-header-height;
    bottom: 0;
    height: calc(100% - $rflex-header-height);
    width: 100%;
    @include z-layer-design(2);

    /**
     * Handles the display
     */
    display: none;
    // Only show the menu for a breakpoint of sm or lower
    @include media-breakpoint-down(md) {
        &.is-toggled {
            display: block;
        }
    }

    .rflex-mob-nav-bg {
        background: $color-shade-darker;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include opacity(0.7);
        @include z-layer-design(3);
    }

    .rflex-mob-nav {
        position: absolute;
        right: 0;
        top: 0;
        background: $color-shade-blanc;
        width: 100%;
        height: 100%;
        @include z-layer-design(4);
        @include opacity(1);

        .rflex-nav-extend {
            a {
                @include border-bottom();
            }

            .rflex-submenu-title {
                @extend .rflex-link-pointer;


                &:after {
                    @include border-left();
                }
            }

            .sub-menu {
                @include border-bottom();
            }

            li.is-toggled {
                .rflex-submenu-title:after {
                    background: $color-bg-highlight;
                }
            }

        }

        @include media-breakpoint-up(sm) {
            width: 66%;
            right: 0;
        }
    }
}


.rflex-nav-top {
    font-size: 0.9rem;

    ul.rflex-list-inline > li {
        margin-left: $padding-x-base;
    }

    a {
        @extend .rflex-link-neutral;
    }
}

.rflex-dropdown-simple {
    position: relative;

    .rflex-icon {
        @extend .rflex-icon-arrow-down;
    }

    .rflex-dropdown-simple-options {
        @extend .rflex-border, .rflex-rounded, .rflex-box-shadow;
        @include z-layer-design(4);
        position: absolute;
        background: $body-bg-color;

        right: 0;
        display: none;

        li {
            margin: 0 $padding-x-base;
        }

        a {
            display: block;
        }
    }

    &.is-toggled {
        .rflex-icon {
            @extend .rflex-icon-arrow-up;
        }

        .rflex-dropdown-simple-options {
            display: block;
        }
    }
}
