// Base sizes of polygon
$polygon-base-part1-width: 75px;
$polygon-base-part1-height: 120px;
$polygon-base-part1-bg-x: -10px;

$polygon-base-part2-width: 225px;
$polygon-base-part2-height: 37.5px;

// Base sizes of the bottom polygon
$polygon-base-bottom-part1-margin-top: -82px;
$polygon-base-bottom-part2-margin-top: -3px;

// Base sizes of the top one
$polygon-base-top-part2-bg-x: -2.5px;
$polygon-base-top-part1-margin-top: -38.5px;
$polygon-base-top-part2-margin-top: -33.5px;

$poly-factors: (
    xs: 1,
    md: 1.5,
    lg: 2
);

.rflex-section-shaded + .rflex-polygon-shade {
    z-index: 3;
}


.rflex-polygon {
    position: relative;

    &.rflex-polygon-shade {

        &:before {
            background-image: url(../img/fold-shaded-part-1.svg);
            background-repeat: no-repeat;
        }

        &:after {
            background-image: url(../img/fold-shaded-part-2.svg);
            background-repeat: no-repeat;
        }
    }


    &.rflex-polygon-primary {
        &:before {
            background-image: url(../img/fold-primary-part-1.svg);
            background-repeat: no-repeat;
        }

        &:after {
            top: 1px;
            background-image: url(../img/fold-primary-part-2.svg);
            background-repeat: no-repeat;

            @include media-breakpoint-up(xl) {
                transform: rotate(2deg);
                margin-left: -4px;
            }
        }
    }

    @each $breakpoint, $factor in $poly-factors {
        @include media-breakpoint-up($breakpoint) {
            &:before {
                content: '';
                position: absolute;
                z-index: 1;

                background-position-x: $polygon-base-part1-bg-x * $factor; // Use background position to prevent widening canvas size
                width: $polygon-base-part1-width * $factor;
                height: $polygon-base-part1-height * $factor;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;

                width: $polygon-base-part2-width * $factor;
                height: $polygon-base-part2-height * $factor;
            }


            &.rflex-polygon-bottom-left {

                &:before {
                    left: 0;
                    margin-top: $polygon-base-bottom-part1-margin-top * $factor;
                }

                &:after {
                    left: 0;
                    margin-top: $polygon-base-bottom-part2-margin-top * $factor;
                }
            }

            &.rflex-polygon-top-right {

                &:before, &:after {
                    right: 0;
                    transform: rotate(180deg);
                }

                &:before {
                    margin-top: $polygon-base-top-part1-margin-top * $factor;
                }

                &:after {
                    background-position-x: $polygon-base-top-part2-bg-x * $factor;
                    margin-top: $polygon-base-top-part2-margin-top * $factor;
                }
            }
        }
    }
}


// Fix the location of the fold-polygon on curved backgrounds.
.rflex-hero + .rflex-polygon, .rflex-footer-pre + .rflex-polygon {
    margin-top: -10px;

    @include media-breakpoint-up(sm) {
        margin-top: -13px;
    }

    @include media-breakpoint-up(md) {
        margin-top: -15px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: -12px;
    }

    @include media-breakpoint-up(xl) {
        margin-top: -15px;
    }
}

// Fix the z-index so the fold-polygon doens't end up behind the background of the next section element.
.rflex-hero {
    z-index: 2;

    & + .rflex-polygon {
        &:before {
            z-index: 3;
        }
        &:after {
            z-index: 1;
        }
    }
}

// Make sure there is no grey fold overlaying the footer.
.rflex-main div:last-child {
    &.rflex-polygon {
        display: none;
    }
}
