.rflex-banner {
    $banner-bg: $color-primary-base;
    $banner-color: $font-color-diapositive;
    @extend .rflex-rounded;
    color: $banner-color;
    background: radial-gradient(
        circle at bottom right,
        lighten($banner-bg, 5%),
        $banner-bg
      );
    min-height: 350px;

    &:hover {
        @extend .rflex-box-shadow;
        background: lighten($banner-bg, 2%);
    }

    &.rflex-banner-door:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/banner-v2.5.png) no-repeat;
        background-size: 70%;
        background-position: right bottom;
    }

    .rflex-banner-title {
        &,&.h2,&.h3 {
            @extend .rflex-limit-width;
            margin-top: $padding-y-base;
            padding-top: 0;
        }
    }

    .rflex-banner-inner {
        padding: $padding-y-big $padding-x-big;
    }

    .rflex-banner-text {
        margin-bottom: ($padding-y-base * 3);
    }
}