
a.btn, button.btn, .btn {
    border: 0;
    position: relative;
    box-sizing: border-box;
    padding: $padding-y-base $padding-x-big;

    font-size: 1rem;
    font-weight: bold;
    background: $color-shade-light;
    color: $font-color-base;
    text-align: center;
    text-decoration: none;

    &.btn-small {
        font-size: 0.85rem;
        padding: $padding-y-base $padding-x-base;
    }

    &:hover, &:focus {
        @extend .rflex-box-shadow;
        background: darken( $color-shade-light, 15% );
    }

    &.btn-sec {
        color: white;
        background: $btn-secondary-color;

        &:hover, &:focus {

            background: $btn-secondary-hover-color;
        }
    }

    &.btn-prim {
        color: white;
        background: $btn-primary-color;

        &:hover, &:focus {

            background: $btn-primary-hover-color;
        }
    }

    &.btn-cta {
        border-radius: 50% / 10%;
        margin-left: $padding-x-small;

        &.btn-out {
            background: transparent;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            color: #fff;

            &:before {
                border-left: 2px solid #fff;
                border-right: 2px solid #fff;
            }
        }

        &:before {
            content: '';

            position: absolute;
            top: 10%;
            margin-bottom: -1px;
            bottom: 10%;
            right: -5%;
            @-moz-document url-prefix() {
                right: -2%; // Mozilla only
                margin-bottom: 0;
            }

            left: -5%;
            background: inherit;
            border-radius: 5% / 50%;
        }

        &.btn-wide {
            border-radius: 50% / 8%;

            &:before {
                top: 10%;
                margin-top: -1px;
                margin-bottom: -2px;
                bottom: 10%;
                right: -3%;
                @-moz-document url-prefix() {
                    right: -1%; // Mozilla only
                    margin-bottom: -1px;
                }

                left: -3%;
                border-radius: 3% / 50%;
            }
        }

        .btn-label {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: inherit;
        }
    }


}

