
$dotted-line-height: 114px;
$dotted-line-padding: $dotted-line-height + $padding-y-base;


.rflex-section-compact-door {
    .h4 {
        text-transform: uppercase;
    }

    .h5 {
        margin-bottom: 0;
    }

    .rflex-img-tile {
        max-width: 100%;
    }

    .container-md {
        max-width:  786px;
    }

    .rflex-section-compact-door-illustration,
    .rflex-section-compact-door-content {
        padding-top: $padding-y-big;

        @include media-breakpoint-up(sm) {
            &:first-child, &:first-child + .rflex-section-compact-door-content {
                padding-top: 0;
            }
        }
    }


    .rflex-section-compact-door-title {

        @include media-breakpoint-up(sm) {
            padding-bottom: $dotted-line-padding;
            background: url(../img/dashed-line-curved.svg) no-repeat;
            background-position-y: bottom;
            background-position-x: center;

            @include media-breakpoint-up(md) {
                background-position-x: center;
            }
        }
    }

    .rflex-section-compact-door-footer {
        .btn-wrapper {
            margin-top: $padding-y-big;

            @include media-breakpoint-up(sm) {
                margin-top: $dotted-line-padding + $padding-y-big;
            }
        }

        &:after {
            @include media-breakpoint-up(sm) {
                transform: scale(-1,1);
                position: absolute;
                content: '';
                top: $padding-y-small;
                bottom: 0;
                left: 0;
                right: 0;
                padding-top: 0;
                background: url(../img/dashed-line-curved.svg) no-repeat;
                background-position-y: top;
                background-position-x: 208%;
                z-index: -3;
                @include media-breakpoint-up(md) {
                    // background-position-x: center;
                }
            }
        }
    }


    .rflex-section-compact-door-steps {
        margin-top: $padding-y-base;
    }

    .rflex-section-compact-door-illustration {
        .rflex-img-round  {
            margin-top: $padding-y-base;
            max-width: 55%;

            @include media-breakpoint-up(sm) {
                max-width: 100%;

                &:first-child {
                    .rflex-img-round {
                        margin-top: 0;
                    }
                }
            }
        }

        &:after {
            @include media-breakpoint-up(sm) {
                position: absolute;
                z-index: -1;
                top: 0; bottom: 0;
                left: 0; right: 0;
                content: '';
                background: url(../img/dashed-line-vertical.svg) repeat-y;
                background-position-x: center;
            }
        }
    }
}


