/**
 * The hero animation script applies these classes to the header and hero.
 * We have this CSS organized here because it seems more logical to put
 * all the animation related styles together.
 */

// .rflex-animation-header {
//     position: fixed;
//     top: 0;
//     height: 155px;
//     width: 100%;
// }


#rflex-main {
    &.is-animated {
        width: 100%;

        &.is-sticky {
            position: fixed;
            top: 0;

            & + .rflex-footer {
                position: absolute;
                bottom: 0;
            }
        }

        &.is-scrolled {
           padding-top: (1000px - 155px);
        }

    }
}

.rflex-hero {
    &.is-animated {
        max-height: 600px;
        width: 100%;
        padding-bottom: 100px;


        & + .rflex-polygon {
            margin-top: -$padding-y-big;
            margin-bottom: 100px;
        }
    }

    #rflex-animation-container {
        max-width: 90%;
    }

    .rflex-animation-placeholder {
        max-width: 100%;
        max-height: 100%;
    }

    #hero-animation {
        width: 100%;
    }
}



