.rflex-facts-figures-grid {
    .rflex-facts-figures-value {
        position: relative;
        color: $font-color-light;
        font-weight: bold;
        font-size: 3.5rem;
        padding-bottom: $padding-y-base;
        margin-bottom: $padding-y-base;

        &:before {
            content: "";
            position: absolute;
            left: 30%;
            right: 30%;
            bottom: 0;
            @include border-bottom(3px, $color-primary-base);
        }
    }
}