

.form-btn {
    @extend .btn;

    &.form-btn-submit {
        @extend .btn-cta;
        @extend .btn-prim;

        &[disabled] {
            &,&:hover {
                cursor: auto;
                background-color: $color-shade-lighter;
                color: darken($color-shade-lighter, 20% );
            }
        }
    }

    &.form-btn-control {
        @extend .btn-cta;
    }


}