.rflex-block-gallery {
    padding-top: $padding-y-base;
    padding-bottom: $padding-y-base;
}

.rflex-image-gallery {
    text-align: center;

    .rflex-gallery-modal {

        .rflex-gallery-controls {

        }

        .rflex-gallery-img-container {
            position: relative;

            .rflex-gallery-img {
                position: relative;
                max-width: 100%;
                max-height: 60vh;

                @include media-breakpoint-up(lg) {
                    max-height: 70vh;
                }
            }
        }

        .rflex-gallery-modal-img {
            &.is-toggled {
                display: none;
            }

            .rflex-gallery-img-meta {
                padding: $padding-y-small 0;
            }
        }
    }

    .rflex-gallery-list {
        @extend .rflex-list-clean;


        .rflex-gallery-list-item:nth-child(3) {
            a {
                .rflex-gallery-list-item-label {
                    @include z-layer-content(5);
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 35%;
                    font-size: 1rem;
                    color: $color-shade-blanc;
                }

                &:after {
                    @include opacity(0.8);
                    position: absolute;
                    content: '';
                    background: $color-primary-base;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }


        }
    }

    .rflex-gallery-list-item {
        a, img {
            @extend .rflex-rounded;
        }
        margin-bottom: $padding-y-base;

    }

}