.rflex-image-grid {

    margin-top: $padding-y-base;

    .rflex-image-grid-tile  {
        min-width: 100%;
        text-align: center;

        .rflex-image-grid-caption {
            margin-top: $padding-y-base;
        }

    }
}