

.rflex-modal {
    @include z-layer-top(10);
    $modal-bg: $body-bg-color;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $modal-bg;

    &.is-toggled {
        display: block;
    }

    .rflex-modal-top {
        @extend .rflex-border-bottom;
        background: $modal-bg;
        padding: $padding-y-base;

        .h4 {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .rflex-modal-content {
        overflow-y: auto;
        padding-top: $padding-y-big;
    }

    .rflex-modal-bottom {
        @extend .rflex-border-top;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $padding-y-big 0 $padding-y-base 0;
        background: $modal-bg;
        font-size: 0.8em;
    }
}