.rflex-search-console-wrapper {
    display: none;

    &.is-toggled {
        display: block;
    }


    &, .rflex-search-console-overlay {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .rflex-search-console-overlay {
        -webkit-animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        @extend .rflex-overlay-dark;
    }
}

.rflex-search-console {
    @include z-layer-design(4);
    @include add-shadow();

    position: fixed;
    top: $rflex-header-height;
    left: 0;
    right: 0;
    background: $color-shade-light;
    padding-top: $padding-y-big;
    padding-bottom: ($padding-y-big * 2);
    bottom: auto;

    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


    @include media-breakpoint-up(lg) {
        position: absolute;
        top: $rflex-header-lg-height;
    }

    .rflex-search-console-content {
        position: relative;
    }

    .rflex-toggle-search {
        @extend .rflex-link-neutral;
        position: absolute;
        top: 0;
        right: $padding-x-base;
    }

    .h3 {
        text-transform: uppercase;
    }

    .rflex-search-form {
        margin-top: $padding-y-big;
        margin-bottom: $padding-y-big;
    }


    .rflex-search-list {
        @extend .rflex-list-link-blocks, .rflex-list-clean;

        li a {
            border-color: $border-color-darker;
        }
    }
}

.rflex-search-form {
    $button-base-width: 13%;
    $button-md-width: 20%;

    .rflex-search-control {
        @extend .rflex-rounded, .rflex-box-shadow;

        background: $color-shade-blanc;
        padding: $padding-y-small $padding-x-small;
        overflow: hidden;

        .rflex-search-control-input,
        .rflex-search-control-btn {
            &, &:hover, &:focus, &:active {
                height: 100%;
                padding: $padding-y-small $padding-x-small;
                border: 0;
                outline: 0;
            }
        }

        .rflex-search-control-input {
            margin-top: $padding-y-small + 3px;
            position: relative;
            border-radius: 0;
            float: left;
            width: (99 - $button-base-width );

            @include media-breakpoint-up(md) {
                width: (99 - $button-md-width );
            }

            vertical-align: middle;
        }

        .rflex-search-control-btn {
            @extend .rflex-rounded;
            float: right;
            overflow: auto;

            width: $button-base-width;


            .rflex-icon {
                margin-bottom: 0;
                font-size: 1.5em;
            }

            .btn-label {
                display: none;
            }

            @include media-breakpoint-up(md) {
                width: $button-md-width;

                .rflex-icon, .btn-label {
                    display: inline-block;
                    vertical-align: middle;
                }
            }


        }

    }
}


.rflex-search-results {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .rflex-search-results-item {
        display: block;
        margin: $padding-y-big 0;

        .h4 {
            margin-bottom: 0;
        }
    }
}


.rflex-search-console-wrapper {

    @include media-breakpoint-up(lg) {
        &.is-sticky {
            .rflex-search-console {
                position: fixed;
                top: 54px;
            }
        }
    }

}


.rflex-search-meta {
    color: $font-color-light;
}