.rflex-testimonial {

    .rflex-testimonial-title {
        font-size: 2em;
        font-weight: bold;

    }

    .rflex-testimonial-content, .rflex-testimonial-signature {
        font-size: 1.2em;
        font-weight: normal;
    }

    .rflex-testimonial-content {
        &:before, &:after {
            content: "\"";
        }
    }

    .rflex-testimonial-signature {
        padding-top: $padding-y-base;
    }

    .rflex-testimonial-body {
        position: relative;
        padding: $padding-y-big 0;

        &:before {
            z-index: -1;
            position: absolute;
            top: -5%;
            left: -5%;
            font-size: 8em;
            @extend .rflex-icon, .rflex-icon-quote-left;
            @include opacity(0.3);
        }
    }

    .rflex-testimonial-person {
        font-weight: bold;
        &:after {
            content: '  - ';
        }
    }

    .rflex-testimonial-picture {
        @extend .rflex-circle;
        max-width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}