@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mmdw4l');
  src:  url('fonts/icomoon.eot?mmdw4l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mmdw4l') format('truetype'),
    url('fonts/icomoon.woff?mmdw4l') format('woff'),
    url('fonts/icomoon.svg?mmdw4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-building:before {
  content: "\e90d";
}
.icon-caret-down:before {
  content: "\e90e";
}
.icon-caret-left:before {
  content: "\e923";
}
.icon-caret-right:before {
  content: "\e924";
}
.icon-caret-up:before {
  content: "\e925";
}
.icon-check-circle1:before {
  content: "\e926";
}
.icon-check:before {
  content: "\e927";
}
.icon-clipboard-check:before {
  content: "\e928";
}
.icon-cloud-download-alt:before {
  content: "\e929";
}
.icon-cog:before {
  content: "\e92a";
}
.icon-cogs:before {
  content: "\e92b";
}
.icon-envelope-open:before {
  content: "\e92c";
}
.icon-envelope:before {
  content: "\e92d";
}
.icon-expeditedssl:before {
  content: "\e92e";
}
.icon-gas-pump:before {
  content: "\e92f";
}
.icon-gem:before {
  content: "\e930";
}
.icon-genderless:before {
  content: "\e931";
}
.icon-home:before {
  content: "\e932";
}
.icon-instagram-square:before {
  content: "\e933";
}
.icon-instagram:before {
  content: "\e934";
}
.icon-layer-group1:before {
  content: "\e935";
}
.icon-map-marked-alt:before {
  content: "\e936";
}
.icon-map-marker-alt:before {
  content: "\e937";
}
.icon-map-marker:before {
  content: "\e938";
}
.icon-mendeley:before {
  content: "\e961";
}
.icon-microblog:before {
  content: "\e962";
}
.icon-pause-circle:before {
  content: "\e939";
}
.icon-pencil-ruler:before {
  content: "\e963";
}
.icon-periscope:before {
  content: "\e93a";
}
.icon-phone-alt:before {
  content: "\e93b";
}
.icon-phone2:before {
  content: "\e93c";
}
.icon-play-circle:before {
  content: "\e93d";
}
.icon-play:before {
  content: "\e93e";
}
.icon-plus-square:before {
  content: "\e93f";
}
.icon-project-diagram:before {
  content: "\e940";
}
.icon-puzzle-piece:before {
  content: "\e941";
}
.icon-quote-left:before {
  content: "\e942";
}
.icon-quote-right:before {
  content: "\e943";
}
.icon-readme:before {
  content: "\e944";
}
.icon-receipt:before {
  content: "\e945";
}
.icon-redo-alt:before {
  content: "\e946";
}
.icon-redo1:before {
  content: "\e947";
}
.icon-route:before {
  content: "\e948";
}
.icon-ruler-combined:before {
  content: "\e949";
}
.icon-ruler-vertical1:before {
  content: "\e94a";
}
.icon-ruler:before {
  content: "\e94b";
}
.icon-shipping-fast:before {
  content: "\e94c";
}
.icon-shopping-bag:before {
  content: "\e94d";
}
.icon-sith:before {
  content: "\e964";
}
.icon-star:before {
  content: "\e94e";
}
.icon-sync:before {
  content: "\e94f";
}
.icon-thumbs-down:before {
  content: "\e950";
}
.icon-thumbs-up:before {
  content: "\e951";
}
.icon-tools1:before {
  content: "\e952";
}
.icon-user-cog:before {
  content: "\e953";
}
.icon-user-friends:before {
  content: "\e954";
}
.icon-user-secret:before {
  content: "\e955";
}
.icon-users-cog:before {
  content: "\e956";
}
.icon-users:before {
  content: "\e957";
}
.icon-warehouse:before {
  content: "\e958";
}
.icon-wordpress-simple:before {
  content: "\e959";
}
.icon-wordpress:before {
  content: "\e95a";
}
.icon-wrench:before {
  content: "\e95b";
}
.icon-youtube1:before {
  content: "\e95c";
}
.icon-fax:before {
  content: "\e965";
}
.icon-check-circle:before {
  content: "\e966";
}
.icon-border-all:before {
  content: "\e967";
}
.icon-umbrella:before {
  content: "\e968";
}
.icon-magic:before {
  content: "\e969";
}
.icon-clock:before {
  content: "\e96a";
}
.icon-users-cog1:before {
  content: "\e96b";
}
.icon-hand-holding:before {
  content: "\e96c";
}
.icon-truck-loading:before {
  content: "\e96e";
}
.icon-tools:before {
  content: "\e970";
}
.icon-ruler-vertical:before {
  content: "\e971";
}
.icon-stream:before {
  content: "\e972";
}
.icon-ambulance:before {
  content: "\e973";
}
.icon-divide:before {
  content: "\e974";
}
.icon-bomb:before {
  content: "\e975";
}
.icon-truck-moving:before {
  content: "\e976";
}
.icon-campground:before {
  content: "\e977";
}
.icon-caret-square-up:before {
  content: "\e978";
}
.icon-upload:before {
  content: "\e979";
}
.icon-spray-can:before {
  content: "\e97a";
}
.icon-store-alt:before {
  content: "\e97b";
}
.icon-store:before {
  content: "\e97c";
}
.icon-car:before {
  content: "\e97d";
}
.icon-water:before {
  content: "\e97e";
}
.icon-paint-roller:before {
  content: "\e97f";
}
.icon-camera-retro:before {
  content: "\e980";
}
.icon-camera:before {
  content: "\e981";
}
.icon-align-justify:before {
  content: "\e982";
}
.icon-layer-group:before {
  content: "\e983";
}
.icon-low-vision:before {
  content: "\e984";
}
.icon-eye:before {
  content: "\e985";
}
.icon-door-closed:before {
  content: "\e986";
}
.icon-external-link-alt:before {
  content: "\e987";
}
.icon-wind:before {
  content: "\e988";
}
.icon-search:before {
  content: "\e902";
}
.icon-params:before {
  content: "\e903";
}
.icon-equalizer:before {
  content: "\e903";
}
.icon-preferences:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e903";
}
.icon-options:before {
  content: "\e903";
}
.icon-navigate_next:before {
  content: "\e905";
}
.icon-chevron_right:before {
  content: "\e905";
}
.icon-navigate_before:before {
  content: "\e906";
}
.icon-chevron_left:before {
  content: "\e906";
}
.icon-search1:before {
  content: "\e907";
}
.icon-menu1:before {
  content: "\e908";
}
.icon-clear:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e909";
}
.icon-menu2:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e904";
}
.icon-redo:before {
  content: "\e900";
}
.icon-cw:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-earth:before {
  content: "\e901";
}
.icon-globe:before {
  content: "\e901";
}
.icon-language:before {
  content: "\e901";
}
.icon-web:before {
  content: "\e901";
}
.icon-internet:before {
  content: "\e901";
}
.icon-sphere:before {
  content: "\e901";
}
.icon-planet:before {
  content: "\e901";
}
.icon-lifebuoy:before {
  content: "\e95d";
}
.icon-envelop1:before {
  content: "\e95e";
}
.icon-location:before {
  content: "\e95f";
}
.icon-location2:before {
  content: "\e960";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-equalizer1:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog11:before {
  content: "\e994";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-calendar-alt:before {
  content: "\e999";
}
.icon-home1:before {
  content: "\e99a";
}
.icon-office:before {
  content: "\e99b";
}
.icon-paint-format:before {
  content: "\e99c";
}
.icon-podcast:before {
  content: "\e989";
}
.icon-feed:before {
  content: "\e98a";
}
.icon-library:before {
  content: "\e99d";
}
.icon-phone3:before {
  content: "\e98b";
}
.icon-envelop:before {
  content: "\e98c";
}
.icon-pushpin:before {
  content: "\e98d";
}
.icon-calendar:before {
  content: "\e99e";
}
.icon-mobile1:before {
  content: "\e98e";
}
.icon-mobile2:before {
  content: "\e98f";
}
.icon-tv:before {
  content: "\e990";
}
.icon-drawer:before {
  content: "\e991";
}
.icon-user-tie:before {
  content: "\e995";
}
.icon-wrench1:before {
  content: "\e996";
}
.icon-cog1:before {
  content: "\e997";
}
.icon-cogs1:before {
  content: "\e998";
}
.icon-stats-dots:before {
  content: "\e99f";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-meter2:before {
  content: "\e9a7";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-earth1:before {
  content: "\e9ca";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-page-break:before {
  content: "\ea68";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-angle-down:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-chevron-left:before {
  content: "\e910";
}
.icon-chevron-down:before {
  content: "\e911";
}
.icon-chevron-up:before {
  content: "\e912";
}
.icon-mobile:before {
  content: "\e913";
}
.icon-mobile-phone:before {
  content: "\e913";
}
.icon-phone1:before {
  content: "\e914";
}
.icon-twitter-square:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-pinterest-p:before {
  content: "\e917";
}
.icon-pinterest-square:before {
  content: "\e918";
}
.icon-pinterest:before {
  content: "\e919";
}
.icon-youtube-play:before {
  content: "\e91a";
}
.icon-youtube-square:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-facebook:before {
  content: "\e91d";
}
.icon-facebook-f:before {
  content: "\e91d";
}
.icon-linkedin:before {
  content: "\e91e";
}
.icon-linkedin-square:before {
  content: "\e91f";
}
.icon-search2:before {
  content: "\e920";
}
.icon-facebook-square:before {
  content: "\e921";
}
.icon-bars:before {
  content: "\e922";
}
.icon-navicon:before {
  content: "\e922";
}
.icon-reorder:before {
  content: "\e922";
}
