/****************************************************************************************
 * GENERIC
 */

html {
    font-size: 14px;

    @include media-breakpoint-up(md) {
        font-size: 15px;
    }

    @include media-breakpoint-up(lg) {
        .container-lg {
            max-width: 1280px;
        }
    }

    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
}

.rflex-circle {
    @include circle();
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
}

.text-color-light {
    color: $font-color-light;
}

.rflex-box-shadow {
    -webkit-box-shadow: 0px 0px $box-shadow-spread -23px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px $box-shadow-spread -23px rgba(0,0,0,0.6);
    box-shadow: 0px 0px $box-shadow-spread -23px rgba(0,0,0,0.6);
}

.rflex-box-shadow-small {
    -webkit-box-shadow: 0px 0px ($box-shadow-spread / 2) -23px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px ($box-shadow-spread / 2) -23px rgba(0,0,0,0.6);
    box-shadow: 0px 0px ($box-shadow-spread / 2) -23px rgba(0,0,0,0.6);
}

.rflex-curve-top {
    $curve-size: 10%;

    border-top-left-radius:100%  $curve-size;
    border-bottom-right-radius:100%  $curve-size;

    @include media-breakpoint-up(md) {
        $curve-size: 15%;
        border-top-left-radius:100%  $curve-size;
        border-top-right-radius:100%  $curve-size;
    }

    @include media-breakpoint-up(xl) {
        $curve-size: 17%;
        border-top-left-radius:100%  $curve-size;
        border-top-right-radius:100%  $curve-size;
    }
}

.rflex-curve-bottom {
    //@include box-curve-bottom();
    $curve-size: 10%;

    border-bottom-left-radius:100%  $curve-size;
    border-bottom-right-radius:100%  $curve-size;

    @include media-breakpoint-up(md) {
        $curve-size: 15%;
        border-bottom-left-radius:100%  $curve-size;
        border-bottom-right-radius:100%  $curve-size;
    }

    @include media-breakpoint-up(xl) {
        $curve-size: 17%;
        border-bottom-left-radius:100%  $curve-size;
        border-bottom-right-radius:100%  $curve-size;
    }
}

.rflex-curve {
    @extend .rflex-curve-top, .rflex-curve-bottom;
}

.rflex-rounded-top {
    @include rounded-corners-top();
}

.rflex-rounded-bottom {
    @include rounded-corners-bottom();
}

.rflex-rounded {
   @extend
    .rflex-rounded-top,
    .rflex-rounded-bottom;
}

.rflex-border-top {
    @include border-top();
}

.rflex-border-right {
    @include border-right();
}

.rflex-border-bottom {
    @include border-bottom();
}

.rflex-border-left {
    @include border-left();
}

.rflex-border {
    @extend
        .rflex-border-top,
        .rflex-border-right,
        .rflex-border-bottom,
        .rflex-border-left;
}


.rflex-overlay-light, .rflex-overlay-dark, .rflex-overlay-primary {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


}

.rflex-overlay-light {


     &:before {
        filter: grayscale(100%);
        background: $color-shade-lighter;
        @include opacity(0.8);
     }
}

.rflex-overlay-dark {
    &:before {
        background: $color-shade-darkest;
        @include opacity(0.6);
    }
}

.rflex-overlay-primary {
    &:before {
        background: $color-primary-base;
        @include opacity(0.8);
    }
}


/****************************************************************************************
 * LISTS
 */


.rflex-row-list {
    list-style-type: none;
    padding: 0;
}

.rflex-list-link-blocks {
    li a {
        @extend .rflex-border-bottom;
        @extend .rflex-link-neutral;
        display: block;
        padding: $padding-y-base 0;
    }
}


.rflex-list-clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rflex-list-inline {
    @extend .list-inline !optional;
    li { // avoids the need of a special class for each item
        @extend .list-inline-item !optional;;
    }
}

ul.rflex-list-group, dl.rflex-list-group {
    @extend .list-group, .list-group-flush;
    li {
        @extend .list-group-item;
    }

    dd {
         @extend .list-group-item;
         padding-top: 0;
         padding-left: 0;
         padding-right: 0;
    }
}

.rflex-list-arrow {
    li {
        padding-left: 0;

        a {
            @extend .rflex-icon-prepend, .rflex-icon-arrow-right;
        }
    }
}


/****************************************************************************************
 * LINKS
 */

.rflex-toggle, .rflex-link-pointer, .rflex-clickable {
    cursor: pointer;
}

.rflex-menu-link-default, .rflex-link-text {
    &, &:link, &:focus {
        color: $body-text-color;
    }
    &, &:link, &:hover, &:focus {
        text-decoration:  none;
    }
}

.rflex-link-neutral {
    &, &:link, &:active {
        color: $body-text-color;
    }
    &, &:link, &:active, &:hover, &:focus {
        text-decoration:  none;
    }

    &:hover, &:focus {
        color: $link-color;
    }
}

.rflex-link-highlight {
    @extend .rflex-link-neutral;

    &:hover, &:focus {
        border-color: $link-color;
    }
}


.rflex-push-down {
    padding-top: $padding-main-base;

    @include media-breakpoint-up(md) {
        padding-top: ($padding-main-big / 2);
    }

    @include media-breakpoint-up(lg) {
        padding-top: $padding-main-big;
    }
}








/**
 * IMAGES
 */

.rflex-img-adjust {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.rflex-img-aspect {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 56.25%; // Defaults to 16:9
    text-align: center;

    &.rflex-aspect-screen {
        padding-top: 75%; // 2.76 : 1
    }

    &.rflex-aspect-panavision {
        padding-top: 36.23%; // 2.76 : 1
    }

    &.rflex-aspect-widescreen {
        padding-top: 42.87%; // 21:9
    }

    &.rflex-aspect-standard {
        padding-top: 56.25%; // 16:9
    }

    .rflex-img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        // play with this one for positioning
        background-position: top;

        .rflex-img-text {
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
            top: 30%;
            // left: 50%;



            .title, .text {
                color: #fff;
            }

            .title {
                font-size: 2.2em;
                line-height: 1.2em;
            }

            .text {
                font-size: 1.5em;
            }

            @include media-breakpoint-up(lg) {
                // left: 40%;

                .title {
                    font-size: 2.6em;
                    line-height: 1.3em;
                }

                .text {
                    font-size: 1.6em;
                }
            }
        }

        &.rflex-img-top {
            background-position: top;
        }

        &.rflex-img-center {
            background-position: center;
        }

        &.rflex-img-bottom {
            background-position: bottom;
        }

        &.rflex-img-cover {
            background-size: cover;
        }

        &.rflex-img-contain {
            background-size: contain;
        }

        // Goes on an actual image to fit
        &.rflex-img-fit {
            position: relative;
            margin-top: -100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-height: 80%;
            max-width: 100%;
            width: auto;
            height: auto;
        }

        @include media-breakpoint-up(md) {
            &.rflex-md-aspect-panavision {
                padding-top: 36.23%; // 2.76 : 1
            }

            &.rflex-md-aspect-widescreen {
                padding-top: 42.87%; // 21:9
            }

            &.rflex-md-aspect-standard {
                padding-top: 56.25%; // 16:9
            }

            .rflex-img {
                &.rflex-md-img-top {
                    background-position: top;
                }

                &.rflex-md-img-center {
                    background-position: center;
                }

                &.rflex-md-img-bottom {
                    background-position: bottom;
                }
            }
        }

        // .rflex-img-contentbox {
        //     margin: 0;
        //     display: block;
        //     width: 25%;
        //     height: 100%;
        //     background: #fff;
        //     overflow: hidden;

        //     @include z-layer-floor(1);

        //     .rflex-img-text {
        //         width: auto;
        //         text-align: left;
        //         left: 50%;
        //         padding-right: 2 * ($padding-x-big);
        //     }

        //     .rflex-img-contentbox-content {
        //         position: relative;
        //         @include z-layer-floor(2);
        //     }

        //     @include media-breakpoint-up(lg) {
        //         .rflex-img-text {
        //             left: 40%;
        //         }
        //     }

        //     @include media-breakpoint-up( xl ) {
        //         .rflex-img-contentbox-content {
        //             padding: $padding-y-big $padding-x-big;
        //         }
        //     }

        //     &:before {
        //         content:'';
        //         width:100%;
        //         height:100%;
        //         position:absolute;
        //         top:0;
        //         left:0;
        //         width: 27%;
        //         background:#fff;
        //         transform: skewX(10deg);
        //         transform-origin:0 0;
        //         @include z-layer-floor(2);
        //     }

        //     &:after {
        //         content:'';
        //         width:100%;
        //         height:100%;
        //         position:absolute;
        //         top:0;
        //         left:65px;
        //         width: 27%;
        //         background: $color-primary;
        //         transform: skewX(10deg);
        //         transform-origin:0 0;
        //         @include z-layer-floor(1);
        //     }
        // }

    }


}


/****************************************************************************************
 * WEBSITE ELEMENTS / COMPONENTS
 */


.rflex-limit-width {
    width: 70%;
}

.rflex-title-super {
    color: $color-primary-base;
    text-transform: uppercase;
    font-size: 1.2em;
}

.rflex-hero {

    position: relative;
    color: $font-color-diapositive !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 265px;
    padding-top: 1.5 * $padding-y-big;
    padding-bottom: ($padding-y-big * 2.5);

    @include media-breakpoint-up(sm) {
        padding-top: 1.75 * $padding-y-big;
        min-height: 360px;
    }

    @include media-breakpoint-up(md) {
        padding-top: 2.5 * $padding-y-big;
        min-height: 400px;
    }

    &, &:before {
        @extend .rflex-curve-bottom;
    }


    &.rflex-overlay-light, &.rflex-hero-no-image {
        .rflex-hero-body {
            color: $font-color-base;
         }
    }



    .rflex-hero-breadcrumbs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: $padding-y-small 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            @include opacity(0.2);
        }

        .rflex-breadcrumbs {
            padding: 0;
            margin: 0;
            color: $font-color-diapositive;
        }
    }

    &.rflex-overlay-light, &.rflex-hero-no-image {
        .rflex-hero-breadcrumbs .rflex-breadcrumbs {
            color: $font-color-base;
        }
    }

    &.rflex-hero-frontpage {
        .h1,h2 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.2em;
        }

        .btn-cta {
            font-size: 1.1em;
        }
    }

    .rflex-hero-cta {
        padding: $padding-y-big 0;
    }
}

.rflex-img-tile {
    @extend .rflex-box-shadow-small;
    @include border( $padding-x-small, $color-shade-blanc);
}

.rflex-img-round, .rflex-img-rounded {
    @extend .rflex-img-tile;
    @include border-radius(50%);
}

.rflex-hero-inline {
    text-align: center;
    margin-bottom: $padding-y-big;

    img {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
    }
}

.rflex-breadcrumbs {
    font-size: 0.8rem;
    a {
        color: inherit;
    }
}

.rflex-content-breadcrumbs {
    color: $font-color-light;
    margin-top: -$padding-y-big;
    margin-bottom: $padding-y-base;
}

.rflex-logo {
    position: relative;
    max-width: 100%;
    resize: horizontal;

    .rflex-logo-link {
        //position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        //padding-bottom: 39.55%;
        //background: url('../img/logo-compact.png') top left no-repeat;

        padding-bottom: 44.86%;
        background: url('../img/logo-rolflex.svg') top left no-repeat;

        background-size: cover;

        .rflex-logo-text {
            display: none;
        }
    }
}



.rflex-social-list {
    @include link-style() {
        text-decoration: none;
    }
}


.rflex-list-labels {
    @extend .rflex-list-inline;

    li {
        box-sizing: border-box;
        height: auto;
        padding: $padding-y-base 0 $padding-y-big 0;
    }

    .rflex-list-labels-item {
        @extend .rflex-rounded;

        margin-bottom: $padding-y-big;
        color: $font-color-base;
        background: $color-shade-light;
        text-decoration: none;
        padding: $padding-y-base;

        &:hover, &:focus, &:active {
            background: $color-shade-lighter;
            color: $link-color;
        }
    }
}