// This is from the ICOMOON font file
// --------
@font-face {
    font-family: 'icomoon';
    src:  url('#{$fonts-path}icomoon.eot?gh63xt');
    src:  url('#{$fonts-path}icomoon.eot?gh63xt#iefix') format('embedded-opentype'),
      url('#{$fonts-path}icomoon.ttf?gh63xt') format('truetype'),
      url('#{$fonts-path}icomoon.woff?gh63xt') format('woff'),
      url('#{$fonts-path}icomoon.svg?gh63xt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/**
 * For the poppins font we use Googles Servers, however, the font is included in the project itself as well.
 */
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrLPTufntAOvWDSHFF.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}



/**
 * Sofia Pro
 */


// @font-face {
//     font-family: 'Sofia Pro';
//     font-style: normal;
//     font-weight: 400;
//     src: url('#{$fonts-path}SofiaProRegularAz.eot'); /* IE9 Compat Modes */
//     src: local('Sofia Pro Regular'), local('Sofia Pro Regular'),
//          url('#{$fonts-path}SofiaProRegularAz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$fonts-path}SofiaProRegularAz.woff2') format('woff2'), /* Super Modern Browsers */
//          url('#{$fonts-path}SofiaProRegularAz.woff') format('woff'), /* Modern Browsers */
//          url('#{$fonts-path}SofiaProRegularAz.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('#{$fonts-path}SofiaProRegularAz.svg#SofioPro') format('svg'); /* Legacy iOS */
//   }

//   @font-face {
//     font-family: 'Sofia Pro';
//     font-style: normal;
//     font-weight: 300;
//     src: url('#{$fonts-path}SofiaProLightAz.eot'); /* IE9 Compat Modes */
//     src: local('Sofia Pro Light'), local('Sofia Pro Light'),
//          url('#{$fonts-path}SofiaProLightAz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$fonts-path}SofiaProLightAz.woff2') format('woff2'), /* Super Modern Browsers */
//          url('#{$fonts-path}SofiaProLightAz.woff') format('woff'), /* Modern Browsers */
//          url('#{$fonts-path}SofiaProLightAz.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('#{$fonts-path}SofiaProLightAz.svg#SofioPro') format('svg'); /* Legacy iOS */
//   }

//   @font-face {
//     font-family: 'Sofia Pro';
//     font-style: normal;
//     font-weight: 300;
//     src: url('#{$fonts-path}SofiaProSemiBoldAz.eot'); /* IE9 Compat Modes */
//     src: local('Sofia Pro SemiBold'), local('Sofia Pro SemiBold'),
//          url('#{$fonts-path}SofiaProSemiBoldAz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$fonts-path}SofiaProSemiBoldAz.woff2') format('woff2'), /* Super Modern Browsers */
//          url('#{$fonts-path}SofiaProSemiBoldAz.woff') format('woff'), /* Modern Browsers */
//          url('#{$fonts-path}SofiaProSemiBoldAz.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('#{$fonts-path}SofiaProSemiBoldAz.svg#SofioPro') format('svg'); /* Legacy iOS */
//   }