[class^="icon-"], [class*=" icon-"], .icomoon-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icon-map: (
    'menu' : 'bars',
    'calendar' : 'calendar-alt',
    'search' : 'search1',
    'phone' : 'phone',
    'phone-alt' : 'phone-alt',
    'close' : 'close',
    'popular' : 'star',
    'delivery' : 'shipping-fast',
    'route' : 'route',
    'download' : 'cloud-download-alt',
    'check-in-circle' : 'check-circle',
    'check' : 'check',
    'office' : 'building',
    'topic' : 'readme',
    'gears' : 'cogs',
    'home' : 'home',
    'globe' : 'globe',
    'location' : 'map-marker-alt',
    'location-map' : 'map-marked-alt',
    'thumbs-up' : 'thumbs-up',
    'thumbs-down' : 'thumbs-down',
    'door' : 'warehouse',
    'quote-left' : 'quote-left',
    'quote-right' : 'quote-right',
    'design-door' : 'pencil-ruler',
    'plus' : 'plus-square',
    'topic-default' : 'star',
    'email' : 'envelope',
    'related' : 'project-diagram',
    'arrow-up' : 'caret-up',
    'arrow-right' : 'caret-right',
    'arrow-down' : 'caret-down',
    'arrow-left' : 'caret-left',
    'down' : 'caret-down',
    'linkedin' : 'linkedin',
    'facebook' : 'facebook',
    'twitter' : 'twitter',
    'youtube' : 'youtube',
    'pinterest' : 'pinterest',
    'instagram' : 'instagram',
    'wind' : 'wind',
    'external-link-alt' : 'external-link-alt',
    'door-closed' : 'door-closed',
    'eye' : 'eye',
    'low-vision' : 'low-vision',
    'layer-group' : 'layer-group',
    'align-justify' : 'align-justify',
    'camera' : 'camera-retro',
    'paint-roller' : 'paint-roller',
    'car-wash' : 'warehouse',
    'store' : 'store',
    'car-mechanic' : 'wrench',
    'spray-can' : 'spray-can',
    'upload' : 'upload',
    'caret-square-up' : 'caret-square-up',
    'campground' : 'campground',
    'truck-moving' : 'truck-moving',
    'bomb' : 'bomb',
    'divide' : 'divide',
    'ambulance' : 'ambulance',
    'stream' : 'stream',
    'ruler-vertical' : 'ruler-vertical',
    'tools' : 'tools',
    'store-alt' : 'store-alt',
    'truck-loading' : 'truck-loading',
    'hand-holding' : 'hand-holding',
    'users-cog' : 'users-cog',
    'clock' : 'clock',
    'magic' : 'magic',
    'umbrella' : 'umbrella',
    'border-all' : 'border-all',
    'check-circle' : 'check-circle',
    'cogs' : 'cogs',
    'fax' : 'fax',
);

// Here we add our own stuff and mapping of icomoon fonts to our own classes
.rflex-icon:before {
    @extend .icomoon-icon;
}

.rflex-icon-prepend:before {
    @extend .icomoon-icon;
    padding-right: $padding-x-small;
}

.rflex-icon-append:after {
    @extend .icomoon-icon;
    padding-left: $padding-x-small;
}

.rflex-icon-color-primary {
    &:before, &:after {
        color: $color-primary-base;
    }
}

.rflex-icon-color-secondary {
    &:before, &:after {
        color: $color-secondary-base;
    }
}

a {
    &[class^="rflex-icon-"], [class^="rflex-icon-"] {
        text-decoration: none;
        &:before, &:after {
            position: relative;
            top: 2px;
        }
    }
}

// Generate based on the icomoons-icons map
@each $rflex-icon, $icomoon-icon in $icon-map {
    .rflex-icon, .rflex-icon-prepend {
        &.rflex-icon-#{$rflex-icon}:before {
            @extend .icon-#{$icomoon-icon}:before !optional;
        }
    }

    .rflex-icon-append {
        &.rflex-icon-#{$rflex-icon}:after {
            @extend .icon-#{$icomoon-icon}:before !optional;
        }
    }
}

