/**
 * These reset preceed the defaults and contains defaults
 * we do not want to have loaded in the editor.
 */

html {
    position: relative;
    min-height: 100%;

    body {
        height: 100%;
    }
}

.rflex-ringel-s {
    font-family: 'Open Sans', sans-serif;
}