
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;

    padding-bottom: $padding-y-small;
    margin-top: $padding-y-base;
    margin-bottom: $padding-y-base;

    &.h-upper {
        text-transform: uppercase;
    }

    &.rflex-icon-prepend {

        &:before {
            font-size: 1.1em;
            color: $color-primary-base;
            padding-right: $padding-x-base;
        }
    }
}


a {
    &:link, &:visited {
        color: $link-color;
        text-decoration: $link-decoration;
    }
    &:active, &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: $link-decoration;
    }
}


