/****************************************************************************************
 * Margin & padding
 */

.rflex-p-bottom {
    @include generate-breakpoints() {
        padding-bottom: $padding-y-base;
    }
}

.rflex-m-bottom {
    @include generate-breakpoints() {
        margin-bottom: $padding-y-base;
    }
}

.rflex-m-bottom-bigger {
    @include generate-breakpoints() {
        margin-bottom: $padding-y-big;
    }
}

.rflex-p-top {
    @include generate-breakpoints() {
        padding-top: $padding-y-base;
    }
}

.rflex-p-top-big {
    @include generate-breakpoints() {
        padding-top: $padding-y-big;
    }
}


.rflex-m-top {
    @include generate-breakpoints() {
        margin-top: $padding-y-base;
    }
}


/**
 * Aspect content
 */

.rflex-aspect-container {
    display: block;
    position: relative;
    padding-bottom: 75%; // 4:3

    &.rflex-aspect-container-widescreen {
        padding-bottom:  56.25%;
    }

    .rflex-aspect-item-wrapper {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;

        .rflex-aspect-item {
            position: relative;
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);
            max-width: 100%;
            max-height: 100%;
            vertical-align: baseline;

            &.rflex-aspect-iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}