$editor-width: 635px;
$editor-wide: 100%;

.wp-block {
	max-width: $editor-width;
}

.wp-block[data-align=wide] { /* it can be "data-align=full" and also "right", "left" and "center" */
	max-width: $editor-wide;
}


.wp-block-columns {
	display: block;
	margin: $padding-y-base auto;

	@include media-breakpoint-up(md) {
		display: flex;

		.wp-block-column {
			flex: 1;
			margin: 0 $padding-x-base;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

	}
}

.wp-block-table {
	background: none;

	&.is-style-regular, &.is-style-stripes {
		$border-radius: $rounded-corners-default;

		table {
			@extend .rflex-box-shadow;
			background: none;
			width: 100%;

			tr {
				border-bottom: 1px solid $color-shade-light;

				&:last-child {
					border: 0;
				}
			}

			td, th {
				padding: $padding-y-base $padding-x-base;
				text-align: center;
				border-left: 1px solid $color-shade-light;

				&:first-child {
					border-left: 0;
					text-align: left;
				}
			}

			thead tr {
				th {
					background: $color-shade-dark;
					color: $font-color-diapositive;
					font-size: 1.1em;
					font-weight: bold;
				}

				&:first-child th {
					&:first-child {
						border-radius: $border-radius 0 0 0;
					}
					&:last-child {
						border-radius: 0 $border-radius 0 0;
					}
				}


			}

			tbody tr {
				td {
					background: $color-shade-blanc;
				}

				&:last-child td {
					&:first-child {
						border-radius: 0 0 0 $border-radius;
					}
					&:last-child {
						border-radius: 0 0 $border-radius 0;
					}
				}
			}
		}
	}

	&.is-style-stripes {
		tbody {
			tr {
				&:nth-child(odd) td {
					background: $color-shade-blanc;
				}
				&:nth-child(even) td {
					background: $color-shade-lighter;
				}
			}
		}
	}

	&, &.is-style-striped, &.is-style-regular {
		td {
			&.has-text-align-center {
				text-align: center;
			}
			&.has-text-align-right {
				text-align: right;
			}
			&.has-text-align-left {
				text-align: right;
			}
		}
	}



}


.wp-block-image {
	text-align: center;

	img {
		@extend .rflex-rounded;
		max-width:100%;
		height: auto;
	}
}